<nav class="navbar navbar-expand-lg bg-body-tertiary text-center">
  <div class="container-fluid ">
    <div class="navbar-brand" href="#">Tarea de saneth</div>
  
    
  </div>
</nav>

<div class="container-fluid" >
  <img src="/assets/146Z_2105.w031.n002.6A.p1.6.jpg" style="height: 500px; width: 100%;" class="img-fluid" alt="...">
</div>

<div class="container text-center">
  <div class="row row-cols-1">
    <div class="col" style="height: 300px; height: 300px;" >
      La unidad educativa colegio la santísima trinidad es una institución privada de educación católica, que ofrece los niveles de educación inicial, primaria y media general en la mención de ciencias básicas y tecnología. Está ubicada en la calle Internacional de los Magallanes de Catia, Parroquia Sucre, Municipio Libertador del Distrito Capital12.

      Según su reseña histórica, el colegio fue fundado en 1956 por la profesora Carmen Elena Guarata de Lobo, y desde entonces ha brindado un servicio educativo a la comunidad de Catia. El colegio cuenta con una planta física de cinco plantas, y una misión, visión, valores y objetivos institucionales que orientan su gestión1.
      
      El colegio tiene una calificación de 4,6 sobre 5 en el sitio web Nicelocal, basada en 7 reseñas de clientes. Algunos de los comentarios positivos destacan la calidad de la enseñanza, el ambiente familiar y la formación integral de los estudiantes3.
    </div>
    <div class="col" style="height: 300px; height: 300px;">
      Misión: Se fundamenta en la formación integral de sus educandos, construyendo un ambiente de fraternidad que propicie el desarrollo de sus potencialidades, con miras a la formación del ser, conjugando así su desarrollo físico, académico y moral1.
      </div>
    <div class="col" style="height: 300px; height: 300px;">
      Visión: Ser una institución educativa de excelencia, que promueva el desarrollo humano y cristiano de sus estudiantes, basado en los valores trinitarios de comunión, igualdad y amor.
      Estas declaraciones se encuentran en el sitio web oficial del colegio, y reflejan su identidad como una institución católica, privada y de calidad. El colegio pertenece a la Fundación Educativa Santísima Trinidad (FEST), que comparte el carisma trinitario de sus entidades fundadoras3. El colegio también tiene un proyecto educativo que se basa en la pedagogía del Padre José Kentenich, fundador del Movimiento de Schoenstatt.
      
      
    </div>
    <div class="col" style="height: 300px; height: 300px;">Column</div>
  </div>
</div>



  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
      </ul>
    </footer>
  </div>



<router-outlet></router-outlet>
